.env
.idea
*.pyc
.DS_Store
*.pyo
*.swp
logs/*
logs
setup.py
build
dbs
eggs
project.egg-info
fashionSpider/__pycache__
fashionSpider/spiders/__pycache__
mongo.pem
*.pem
*.log
blm/
hm/
sephora/
overstock/
PinterestSpider/
dsw/
bestbuy/
cache/